.header{
    height: 80px;
    width: 100vw;
    border-bottom: 1px solid lightgray;
}
.logo{
    width: 80px;
    margin-left: 20px;
    height: 100%;
    float: left;
    position:relative;
}
.logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header .rightbox{
    width: 80px;
    margin-right:20px;
    height: 80px;
    float: right;
    position: relative;
}   
.profile{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-image: url("../../assets/images/profile_logo.png");
    background-size: contain;
    float: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey(-50%);
}