html {
  font-size: 20px;
}

.login-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.login-container h1 {
  font-size: 36px;
  margin-top: 30px;
  color: black;
}

.login-container .title {
  margin: 5px 0;
  font-size: 22px;
}

.login-container .noaccount{
  margin: 10px;
  font-size: 18px;
}

.login-container .signupbutton {
  color: #6BE2E2;
  text-decoration: none;
  font-size: 1em; /* Adjust font size for the link */
  cursor: pointer;
  font-weight: bold;
}


.login-button {
  width: 100%;
  padding: 10px; /* 1.5 times 10px */
  background-color: #6BE2E2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 7.5px; /* 1.5 times 5px */
  font-size: 24px; /* 1.5 times 16px */
  margin-top: 20px;
}

.login-button:hover {
  background-color: #4fabab;
}

.passwordbox{
  position: relative;
}
.showpassword{
  position:absolute;
  width: 20px;
  height: 20px;
  background-image: url(./togglepassword.png);
  background-size: contain;
  top: 50%;
  right: 1%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}